@use "../../styles/abstracts/variables" as *;
.productImgFloatBody {
  position: relative;
  text-align: center;
  width: 100%;
  max-width: 350px;
  aspect-ratio: 350 / 284;
  z-index: 0 !important;
  @media (max-width: 991px) {
    max-width: 230px;
    aspect-ratio: 230 / 190;
  }
  @media (max-width: 768px) {
    max-width: 223px;
    aspect-ratio: 223 / 217;
  }
  @media (max-width: 576px) {
    max-width: 500px;
    aspect-ratio: 500 / 250;
  }
  @media (max-width: 486px) {
    aspect-ratio: 500 / 285;
  }
  @media (max-width: 419px) {
    aspect-ratio: 500 / 300;
  }
  @media (max-width: 339px) {
    aspect-ratio: 500 / 340;
  }
  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 75%;
    border-radius: 8px;
    background: $color-secondary-200;
    z-index: 1 !important;
  }
  img,
  h6,
  a {
    position: relative;
    z-index: 2;
  }
  img {
    width: 200px;
    height: auto;
    @media (max-width: 1399px) {
      width: 160px;
    }
    @media (max-width: 1199px) {
      width: 130px;
    }
    @media (max-width: 991px) {
      width: 100px;
    }
    @media (max-width: 768px) {
      width: 81px;
    }
    @media (max-width: 576px) {
      width: 150px;
    }
    @media (max-width: 405px) {
      width: calc(10px + 30vw);
    }
    @media (max-width: 339px) {
      width: calc(10px + 30vw);
    }
  }
  h6 {
    margin-bottom: 18px;
    @media (max-width: 768px) {
      font-size: 15px;
      letter-spacing: 1.07px;
    }
  }
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    gap: 13.32px;
    color: $color-primary;
    &:hover {
      color: $color-tertiary;

      &:active {
        color: $color-tertiary-100;
      }
    }
    p {
      font-size: 13px;
      font-weight: 700;
      line-height: 100%;
      letter-spacing: 1px;
      opacity: 50%;
      &:hover {
        opacity: 100% !important;
      }
    }
  }
}
.floatImg {
  width: 5px !important;
  height: 10px !important;
  z-index: 3 !important;
}
