/*Fonts*/
$font-primary: "Manrope", sans-serif;

/*Colors*/
$color-primary: #000000;
$color-primary-100: #101010;
$color-primary-200: #0E0E0E;


$color-secondary: #ffffff;
$color-secondary-100: #fafafa;
$color-secondary-200: #f1f1f1;

$color-tertiary: #d87d4a;
$color-tertiary-100: #fbaf85;
