@import "bootstrap/scss/bootstrap";
@import '../styles/abstracts/variables';
@import '../styles/abstracts/mixins';
@import '../styles/base/typography';

.container{
    padding: 0;
    @media (max-width:576px) {
        padding: 0 24px;
    }
}

// active style for nav links
.active {
  color: $color-tertiary !important;
}