@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
body {
  font-family: $font-primary;
  font-weight: 700;
  font-size: 13px;
  line-height: 25px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-primary;
  text-transform: uppercase;
  font-weight: 700;
}

h1 {
  font-size: 56px;
  letter-spacing: 2px;
  line-height: 58px;
}
h2 {
  font-size: 40px;
  letter-spacing: 1.43px;
  line-height: 44px;
}
h3 {
  font-size: 32px;
  letter-spacing: 1.14px;
  line-height: 36px;
}
h4 {
  font-size: 28px;
  letter-spacing: 1.14px;
  line-height: 100%;
}
h5 {
  font-size: 24px;
  letter-spacing: 1.71px;
  line-height: 100%;
}
h6 {
  font-size: 18px;
  letter-spacing: 1.29px;
  line-height: 100%;
}
p {
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 25px;
  margin-bottom: 0;
}
